<ion-view view-title="Add Class">
  
  <ion-content>
	<div class="list">
	  <form ng-submit="addClassSubmit()">
	  <label class="item item-input item-select">
		<div class="input-label">
		Class Subject 
		</div>
		<select ng-model="form.class_subject">
		  <option ng-repeat = "class in classes">
		  {{class.class_subject}} 
		  </option>
		</select>
	  </label>
      <label class="item item-input">
          <span class="input-label">Class Number</span>
          <input type="text" pattern="[0-9]{4}" ng-required = "true" ng-model="form.class_number"> </input>
      </label>
	  <label class="item">
          <button class="button button-block button-positive" type="submit">Add Class</button>
		 </label>
	  </form> 
	<div class="item item-divider">Which of your classes do you want to filter?</div>	
		   <ion-toggle class="item" ng-repeat = "class in user_classes">
		   {{class.class_subject}} {{class.class_number}}
		   </ion-toggle>
		<button class="button button-block button-assertive" type="submit" ng-click = "done()">Done</button>  
	</div>

  </ion-content>
</ion-view>