<ion-view view-title="Add Class">
   <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="cancel()">
      Cancel
    </button>
  </ion-nav-buttons>
  <ion-content>
	<div class="list">
	  <form ng-submit="addClassSubmit()">
	  <label class="item item-input item-select">
		<div class="input-label">
		Class Subject 
		</div>
		<select ng-model="form.class_subject">
		  <option ng-repeat = "class in classesToTake">
		  {{class.class_subject}} 
		  </option>
		</select>
	  </label>
      <label class="item item-input">
          <span class="input-label">Class Number</span>
          <input type="text" pattern="[0-9]{4}" ng-required = "true" ng-model="form.class_number"> </input>
      </label>
	  <label class="item">
          <button class="button button-block button-calm button-balanced"" type="submit">Add Class</button>
		 </label>
	  </form> 
	<div class="item item-divider">Your current classes</div>
		<ion-list>
		<ion-item ng-repeat = "class in classes">
		<ion-option-button class="button-positive">Edit</ion-option-button>
		<ion-option-button class="button-assertive">Delete</ion-option-button>
	       {{class.class_subject}} {{class.class_number}} 
		</ion-item>
		</ion-list>
			</div>

  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive" ng-click = "done()">
  <h1 class="title">Done</h1>
  </ion-footer-bar>
</ion-view>