<ion-view view-title="Create a New Grüp">
  
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="cancel()">
      Cancel
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-hide="form.createFirstStep" ng-click="createGroupBack()">
      < Back
    </button>
  </ion-nav-buttons>

   <ion-content>
    
    <div class="list">

      <!-- General Info Area -->
      <div ng-show="form.general">
        <div class="item item-divider">General</div>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Grüp Name</div>
          <input type="text" placeholder="What's Your Grüp Name?" ng-model="form.group_name">
        </label>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Class (subject and number)</div>
          <input type="text" placeholder="e.g. CSE 1341" ng-model="form.class_name">
        </label>
      </div>

      <!-- Location and Date -->
      <div ng-show="form.locationDate">
        <div class="item item-divider">Location</div>
        <label class="item item-input item-select">
          <div class="input-label">
            Location: 
          </div>
          <select ng-model="form.location">
            <option  value="" selected>-- Select --</option>
            <option value="Fondren Library">Fondren Library</option>
            <option value="Lyle">Lyle</option>
            <option value="Starbucks - Hillcrest">Starbucks - Hillcrest</option>
            <option value="Starbucks - Mockingbird">Starbucks - Mockingbird</option>
          </select>
        </label>
        <label class="item item-input">
          <textarea placeholder="Important details about where you are studying. i.e. room number" ng-model="form.location_details"></textarea>
        </label>

        <div class="item item-divider">Date and Time</div>
        <label class="item item-input">
          <div class="input-label">Date: </div>
          <input type="date" ng-model="form.date"></input>
        </label>
        <label class="item item-input">
          <div class="input-label">Time: </div>
          <input type="time" ng-model="form.date"></input>
        </label>
      </div>

      <!-- Overall Description -->
      <div ng-show="form.descriptionShow">
        <div class="item item-divider">Description</div>
        <label class="item item-input item-stacked-label">
          <div class="input-label">Description: </div>
          <textarea placeholder="What will you be studying? Topics, chapters, etc" ng-model="form.description"></textarea>
        </label>
      </div>

      <!-- Buttons -->
      <label class="item" ng-show="form.nextItem">
        <button class="button button-block button-outline button-calm" ng-click="next()">Next >></button>
      </label>
      <label class="item" ng-show="form.lastItem">
        <button class="button button-block button-calm" ng-click="createGrup()">Create!</button>
      </label>
    </div>
  </ion-content>
</ion-view>
