<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{groupInfo.group_name}}">
  <ion-content>
    <div class="detailContainer">
      <div class="detailImg">
        <!-- <img src="/img/Fondren.jpg" class="detailImg"> -->
      </div>
      <div class="detailContainerContent">
        <div class="row title">
          <h1>{{groupInfo.class_subject}} {{groupInfo.class_number}}</h1>
        </div>
        <div class="row imgBody">
          <div class="col">
            <h4>{{groupInfo.time_of_meeting | date:"EEE MMM dd 'at' h:mm a"}}</h4> 
          </div>
          <div class="col">
            <h4>{{groupInfo.location}}</h4>
            <p>{{groupInfo.location_details}}</p>
          </div>
        </div> 
      </div>
    </div>
    <ul class="list">
      <button class="button button-block button-calm" ng-click="join()" ng-hide="isJoined">
        Join this Grüp
      </button>
      <button class="button button-block button-dark" ng-show="isJoined">
        Joined
      </button>
   
      <label class="item">
        <div class="input-label">Description </div>
        <p>{{groupInfo.description}}</p> 
      </label>
      <label class="item">
        <div class="input-label">Members </div>
        <ul>
          <li ng-repeat="member in groupInfo.members">
            <p>{{member.first_name}} {{member.last_name}}</p> 
          </li>
        </ul>
      </label>
    </ul>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive" ng-show="isJoined" ng-click="leaveGroup()">
    <h1 class="title">Leave</h1>
  </ion-footer-bar>
</ion-view>
