<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{groupInfo.group_name}}">
  <ion-content>
    <img src="/img/Fondren.jpg" class="detailImg">
    <ul class="list">
      <label class="item">
        <div class="input-label">Class: </div>
        <h4>{{groupInfo.class_subject}} {{groupInfo.class_number}}</h4>
      </label>
      <label class="item">
        <div class="input-label">Date: </div>
        <h4>{{groupInfo.time_of_meeting | date:"EEE MMM dd 'at' h:mm a"}}</h4> 
      </label>
      <label class="item">
        <div class="input-label">Location: </div>
        <h4>{{groupInfo.location}}</h4>
        <p>{{groupInfo.location_details}}</p> 
      </label>
      <label class="item">
        <div class="input-label">Description: </div>
        <p>{{groupInfo.description}}</p> 
      </label>
      <label class="item">
        <div class="input-label">Members: </div>
        <ul>
          <li ng-repeat="member in groupInfo.members">
            <p>{{member.first_name}} {{member.last_name}}</p> 
          </li>
        </ul>
      </label>
    </ul>
    <button class="button button-block button-calm" ng-click="join()">
          Join this Grüp
        </button>
  </ion-content>
</ion-view>
