<ion-view view-title="Register">
  <ion-content>
    <h1 class="padding">Sign up for Grüpr</h1>
    <form ng-submit="register()" name="registerForm">
	    <div class="list">
	    <!-- Inputs -->
		  <label class="item item-input item-floating-label">
		    <span class="input-label">First Name</span>
		    <input type="text" placeholder="First Name" ng-model="form.first_name" ng-required="true" name="rInput1">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Last Name</span>
		    <input type="text" placeholder="Last Name" ng-model="form.last_name" ng-required="true" name="rInput2">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="Email" ng-model="form.email" ng-required="true" name="rInput3">
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Password</span>
		    <input type="password" placeholder="Password" ng-model="form.password" ng-required="true" name="rInput4">
		  </label>
		  <!-- Button -->
		  <button class="button button-block button-calm" type="submit">
		  	Sign Up!
		  </button>
		  <!-- Alert -->
		  <div ng-show="registerForm.rInput1.$touched || registerForm.rInput2.$touched || registerForm.rInput3.$touched || registerForm.rInput4.$touched" class="item assertive text-center">
        <div ng-show="registerForm.rInput1.$error.required || registerForm.rInput2.$error.required || registerForm.rInput3.$error.required || registerForm.rInput4.$error.required">Please Fill Out All Fields</div>
      </div>
		</div>
	</form>
  </ion-content>
</ion-view>
