<ion-view >
  <!-- <ion-header-bar class="bar bar-header bar-stable">
    <h1 class="title">myBeer</h1>
  </ion-header-bar> -->
  <ion-content>
    <ul class="list">
      <li class="item">
        <div class="list card">
          <div class=" item item-header">
            <h3>Grüp Name</h2>
          </div>
          <div class="item item-body">
            <!-- <img class="full-image" src="/img/grupr-logo.png"> -->
            <ul class="list">
              <li class="item">
                <h4>CSE 1341</h4>
              </li>
              <li class="item">
                <h4>Monday, April 9</h4> 
                <h4>5:30 PM</h4>
              </li>
              <li class="item">
                <h4>Fondren Library</h4> 
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="item">
        <div class="list card">
          <div class=" item item-header">
            <h3>Grüp Name</h2>
          </div>
          <div class="item item-body">
            <!-- <img class="full-image" src="/img/grupr-logo.png"> -->
            <ul class="list">
              <li class="item">
                <h4>CSE 1341</h4>
              </li>
              <li class="item">
                <h4>Monday, April 9</h4> 
                <h4>5:30 PM</h4>
              </li>
              <li class="item">
                <h4>Fondren Library</h4> 
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
