<ion-view view-title="{{first_name}} {{last_name}}">

	<ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="addClass()">
      <i class="icon ion-plus-round"></i> New class
    </button>
  </ion-nav-buttons>
  <ion-content>
    
		<ion-list>
		<div class = "item item-thumbnail-left">
		<img src="/img/{{level}}.png">
		</div>
		<ion-item>
		email: {{email}}
		<ion-option-button class="button-assertive">Edit</ion-option-button>
		</ion-item>
		<ion-item>
		level: {{level}}
		</ion-item>
		<ion-item>
		<button class="button button-clear button-calm" ng-click="filter()">
			<i class="icon ion-android-funnel"></i> 
			<i></i> Filter classes 
		</button>
		</ion-item>
		
		<div class="item item-divider">Your Classes</div>
		<ion-item ng-repeat = "class in classes">
		<ion-option-button class="button-positive">Edit</ion-option-button>
		<ion-option-button class="button-assertive">Delete</ion-option-button>
	       {{class.class_subject}} {{class.class_number}} 
		</ion-item>
		</ion-list>
  </ion-content>
</ion-view>
