<ion-view view-title="Browse Grüps" cache-view="false">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="filter()">
      <i class="icon ion-android-funnel"></i> Filter
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="newGroup()">
      <i class="icon ion-plus-round"></i> New
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <!-- Filler for no content -->
    <div class="fillerContent ionic-wrap-text padding" ng-hide="contentExists">
      <h1>Nothing to Show</h1>
      <p>There are no current study sessions that match your filter criteria</p>
    </div>
    <!-- Newsfeed Content -->
    <ul class="list" ng-show="contentExists">
      <!-- List Item for each Study Session -->
      <li class="item row" ng-repeat="group in feed | orderBy: 'time_of_meeting'" ng-click="viewGroup(group.group_id)" ng-class="group.divider? 'item-divider':''">
        <p ng-show="group.divider" class="padding">{{group.dividerText | date:'MMM dd h:00 a'}}</p>
        <div class="colorCol" ng-class="group.class_subject" ng-hide="group.divider">
        </div>
        <div class="col" ng-hide="group.divider">
          <div class="row">
            <div class="col">
              <h2>{{group.class_subject}} {{group.class_number}}</h2>
            </div>
            <div class="col">
              <p>{{group.professor}}</p>
            </div>
            <div class="col browseRightAlgin">
              <i class="icon ion-android-person" ng-repeat="member in group.members"></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>{{group.location_details}}</p>
            </div>
            <div class="col browseRightAlgin">
              <p>{{group.time_of_meeting | date:'MMM d, h:mm a'}}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>









