<ion-view view-title="{{first_name}} {{last_name}}">

	<ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="logout()">
      Logout
    </button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="addClass()">
      <i class="icon ion-plus-round"></i> New class
    </button>
  </ion-nav-buttons>
  <ion-content>
    
		<ion-list>
		<div class = "item item-thumbnail-left">
		<img src="/img/{{icon}}">
		</div>
		<ion-item>
		email: {{email}}
		<ion-option-button class="button-assertive">Edit</ion-option-button>
		</ion-item>
		<ion-item>
		level: {{level}}
		</ion-item>
		<ion-item>
		<button class="button" ng-click="addClass()">
			<i></i> Filter classes 
		</button>
		</ion-item>
		</ion-list>
		<div class="item item-divider">Your Classes</div>	
		<label class="item" ng-repeat = "class in classes">
	       {{class.class_subject}} {{class.class_number}}
		</label>
		</div>
  </ion-content>
</ion-view>
