<ion-view view-title="All your Grups">
  <ion-nav-buttons side="primary">
    <button class="button button-clear" ng-click="filter()">
      <i class="icon ion-android-funnel"></i> Filter
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="newGroup()">
      <i class="icon ion-plus-round"></i> New 
    </button>
  </ion-nav-buttons>
  
  <ion-content>
    <ul class="list">
      <!-- List Item for each Study Session -->
      <li class="item row" ng-repeat="group in UserGroups" ng-click="viewMyGroup(group.group_id)">
        <div class="colorCol" ng-class="group.class_subject">
        </div>
        <div class="col">
          <div class="row">
          <div class="col">
            <h2>{{group.class_subject}} {{group.class_number}}</h2>
          </div>
          <div class="col col-offset-10">
            <p>5 members</p>
          </div>
          </div>
          <div class="row">
          <div class="col col-offset-10">
            <p>{{group.location}}</p>
          </div>
          <div class="col">
            <p>{{group.time_of_meeting | date:'h:mm a'}}</p>
          </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
