<ion-view view-title="Home Screen">
  <ion-content>
    <div class="list list-inset" >
  		<div>
		<label class="item item-input">
    	<i class="icon ion-search placeholder-icon"></i>
		<span class ="input-label"> Name: {{user.name}}</span>
    	</label>
	</div>
  </ion-content>
  <button ng-click = "gotoOtherPage()"> Create a Grup </button>
  <button ng-click = ""> View Profile </button>
  <button ng-click = ""> View AllGrups </button>
  <button ng-click = ""> Search For Grup </button>
  </div>
</ion-view>		