<ion-view view-title="Register">
  <ion-content>
    <h1>Sign up for Grüpr</h1>
    <div class="list">
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Name</span>
	    <input type="text" placeholder="First and Last Name">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="Email">
	  </label>
	  <label class="item item-input item-floating-label">
	    <span class="input-label">Password</span>
	    <input type="password" placeholder="Password">
	  </label>
	  <label class="item item-input item-floating-label" ng-touched="">
	    <span class="input-label">Confirm</span>
	    <input type="password" placeholder="Confrim Password">
	  </label>
	  <button class="button button-block button-positive">
	  	Next Step
	  </button>
	</div>
  </ion-content>
</ion-view>
